
.header_hbox {
    -fx-background-color: #999999;
    -fx-spacing: 50;
    -fx-alignment: center;
}

.header_hbox Button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-padding: 8 16 8 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.0, 0, 2);
    -fx-cursor: hand;
}

.header_hbox Button:hover {
}